# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*~

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


examples/people/parquet.go
examples/people/people.parquet
examples/people/read.py
examples/via_parquet/generated_struct.go
examples/via_parquet/parquet.go